<a href="https://colab.research.google.com/github/InggitPLowrensita/TugasPert2DS/blob/main/TugasPert3DSpd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#membuat data
data = {
    'nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
    'No_Teepon': ['081267001022', '087823560918', '089654009102', '082267018967']
}

#membuat DataFrame dari Data
df = pd.DataFrame(data)

#menmpilkan DataFrame
print(df)

                 nama     gender     No_Teepon
0      Arfian Purnama  Laki-laki  081267001022
1  Alisa Dityaningrum  Perempuan  087823560918
2      Kiki Anggraeni  Perempuan  089654009102
3     Rizky Kurniawan  Laki-laki  082267018967

In [ ]:
import pandas as pd

#membuat data
data = {
    'nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
    'No_Teepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': ['80', '89', '76', '80'],
    'UTS': ['88', '78', '90', '81'],
    'UAS': ['90', '89', '85', '82']
}

#membuat DataFrame dari Data
df = pd.DataFrame(data)

#menmpilkan DataFrame
print(df)

                 nama     gender     No_Teepon Tugas UTS UAS
0      Arfian Purnama  Laki-laki  081267001022    80  88  90
1  Alisa Dityaningrum  Perempuan  087823560918    89  78  89
2      Kiki Anggraeni  Perempuan  089654009102    76  90  85
3     Rizky Kurniawan  Laki-laki  082267018967    80  81  82

In [ ]:
import pandas as pd

# Membuat data
data = {
    'nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
    'No_Teepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': [80, 89, 76, 80],
    'UTS': [88, 78, 90, 81],
    'UAS': [90, 89, 85, 82]
}

# Membuat DataFrame dari Data
df = pd.DataFrame(data)

# Hitung nilai akhir
df['Nilai Akhir'] = (0.3 * df['Tugas'] + 0.3 * df['UTS'] + 0.4 * df['UAS']).round(2)

# Menampilkan DataFrame dengan nilai akhir
print(df)

                 nama     gender     No_Teepon  Tugas  UTS  UAS  Nilai Akhir
0      Arfian Purnama  Laki-laki  081267001022     80   88   90         86.4
1  Alisa Dityaningrum  Perempuan  087823560918     89   78   89         85.7
2      Kiki Anggraeni  Perempuan  089654009102     76   90   85         83.8
3     Rizky Kurniawan  Laki-laki  082267018967     80   81   82         81.1